.range {
  position: relative;

  &_wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;

    input {
      position: absolute;
      top: -6px;
      width: 100%;
      appearance: none;
      background: none;
      pointer-events: none;
    }
  }

  &_slide {
    position: relative;
    height: 4px;
    background: #3d3d3d;
    border-radius: 10px;
    flex: 1;

    &_cylinder {
      &::-webkit-slider-thumb {
        width: 6px;
        height: 16px;
        border-radius: 8px;
        background-color: white;
        appearance: none;
        pointer-events: auto;
        cursor: pointer;
      }
    }

    &_circle {
      &::-webkit-slider-thumb {
        width: 14px;
        height: 14px;
        border-radius: 8px;
        background-color: white;
        appearance: none;
        pointer-events: auto;
        cursor: pointer;
      }
    }

    &_inner {
      position: absolute;
      height: 4px;
      background: #BCBCBC;
      border-radius: 10px;
    }
  }
}
